<?php
/**
 * Magento
 *
 * @category    Scandi
 * @package     Scandi_Newsletter
 */
?>
<div class="block block-subscribe">
    <div id="feedback" style="display:none" class="mini-newsletter">
        Thank you for subscribing to our newsletter!
    </div>

    <form name="newsletter-form" id="newsletter-form" method="post" onsubmit="myfunc(event)">
        <div class="block-content">
            <div class="input-box">
                <input type="text" placeholder="Your name" name="name" id="subscriber-name"
                       class="input-text required-entry input-subscribe" style="..."/>
                <input onkeypress="handleKeyPress(event,this.form)" type="text" placeholder="Email address" name="email"
                       id="newsletter" title="<?php echo $this->__('Subscribe to Our Newsletter') ?>"
                       class="input-text required-entry input-subscribe" style="width:178px;"/>
                <div class="error-news-msg" id="error-news-msg" style="display:none;">Please enter a valid input.</div>
            </div>
            <div class="actions">
                <div class="news-loader" id="news-loader" style="text-align:center; display:none;">
                    <img src="<?php echo $this->getSkinUrl('scandi/newsletter/images/ajax-loader.gif'); ?>"/>
                </div>
                <button type="button" title="<?php echo $this->__('Subscribe') ?>" onclick="myfunc(event);" class="button">
                    <span><span>Subscribe</span></span>
                </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    function myfunc(event) {
        event.preventDefault();
        var newsletterSubscriberFormDetail = new VarienForm('newsletter-form');
        var form_email = $('newsletter').getValue();
        var form_name = $('subscriber-name').getValue();
        form_name = escapeHtml(form_name);
        new Validation('newsletter');
        if ((echeck(form_email)) && (form_name)) {
            new Ajax.Updater({success: 'newsletter-form'}, '<?php echo $this->getUrl('newsletter/subscriber/new') ?>', {
                asynchronous: true, evalScripts: false,
                parameters: {email: form_email, name: form_name},
                onComplete: function (request, json) {
                    Element.hide('newsletter-form');
                    Element.hide('news-loader');
                    Element.show('feedback');
                },
                onLoading: function (request, json) {
                    Element.show('news-loader');
                },
            });
        }
        else {
            goProcedural();
            return false;
        }
    }


    function echeck(str) {

        var at = "@"
        var dot = "."
        var lat = str.indexOf(at)
        var lstr = str.length
        var ldot = str.indexOf(dot)
        if (str.indexOf(at) == -1) {
            goProcedural()
            return false
        }

        if (str.indexOf(at) == -1 || str.indexOf(at) == 0 || str.indexOf(at) == lstr) {
            goProcedural()
            return false
        }

        if (str.indexOf(dot) == -1 || str.indexOf(dot) == 0 || str.indexOf(dot) == lstr) {
            goProcedural()
            return false
        }

        if (str.indexOf(at, (lat + 1)) != -1) {
            goProcedural()
            return false
        }

        if (str.substring(lat - 1, lat) == dot || str.substring(lat + 1, lat + 2) == dot) {
            goProcedural()
            return false
        }

        if (str.indexOf(dot, (lat + 2)) == -1) {
            goProcedural()
            return false
        }

        if (str.indexOf(" ") != -1) {
            goProcedural()
            return false
        }
        return true
    }

    function goProcedural() {
        Element.show('error-news-msg');
        Element.hide.delay(5, 'error-news-msg');
    }

    function escapeHtml(str) {
        var map = {
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;',
            '"': '&quot;',
            "'": '&#039;'
        };
        return str.replace(/[&<>"']/g, function (m) {
            return map[m];
        });
    }
</script>